# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Project bin
bin/

# Private data
configs/bot_conf.json
configs/db_conf.json

# Other junk
upd.sh
log.txt
telegram-weather-bot/path.txt

# Python cache
__pycache__
